/* FONT, MEDIA */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@525&display=swap');
@media (max-width:767px) {
  main .col{
    min-width: 100%;
  }
  #feature .col-6{
    min-width: 100%;
  }
  #feature .col-4{
    min-width: 100%;
  }
  footer .col{
    min-width: 100%;
  }
  footer .col-2{
    min-width: 33%;
  }
}
/* -- MAIN CSS CODE--  */
body{
  font-family: 'Poppins';
  }

.conteiner{
  max-width: 1180px;
  margin: auto;
  padding: 0px 15px;
  }
/* -- Header --*/
header .conteiner{
  box-shadow: 0px 5px 4px rgba(0,0,0,0.15);
  border-radius: 0 0 15px 15px;
  margin-bottom: 1.5em;
  background: linear-gradient(0deg, rgba(255,255,239,0.70) 150%, rgba(189,189,189,1) -50%);
  }

.navbar{
  padding: 0.8em 0 0.8em 0;
}

.navbar-brand{
  font-size: 1.5rem;
}

.nav-item{
  padding: 0 10px;
}

.nav-link{
  font-size: 1.2rem;
}

nav img{
  border-radius: 100%;
}

.btn-light{
  background-color: inherit;
  border: none;
  border-radius: 40%;
}

header button{
  border: 2px;
}

/* MAIN */
main .conteiner{
  box-shadow: 0px 4px 2px rgba(0,0,0,0.1),
              0px -4px 2px rgba(0,0,0,0.1),
              2px 0px 2px rgba(0,0,0,0.1),
              -2px 0px 2px rgba(0,0,0,0.1);
  border-radius: 15px;
  padding: 0.5em 1em;
  margin-top: 3em;
  margin-bottom: 4em;
}

.bg-color{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0) 20%, rgba(0,0,0,1) 60%);
  overflow: hidden;
}

.bg-color img{
  opacity: 0.65;
  transition: opacity 100ms linear, transform 100ms linear;
}

.bg-color:hover img{
  opacity: 0.85;
}

.type_1, .type_2 , .type_3{
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

 .type_1 img ,.type_2 img, .type_3 img{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  object-fit:cover;
}

 .type_1 img, .type_1, .type_2 img, .type_2, .type_3 img, .type_3{
  width: 100%;
  height: 350px;
  border-radius: 15px;
}


.type_1 img, .type_1{
  height: 500px;
  font-size: 20pt;
}

.type_3, .type_3 img{
  height: 475px;
}

/*-------- Title block in pages ---------*/
.box_1{
  text-align: center;
  font-size: 25pt;
  width: 80%;
  margin: 0 auto;
  margin-top: 2em;
  overflow: hidden;
}

.box_1 span{
  position: relative;
}

.box_1 span:after{
  display: block;
  width: 100%;
  content: '';
  position: absolute;
  border-bottom: 2px solid  #000;
  top:50%;
  left: 240px;
}

.box_1 span:before{
  display: block;
  width: 100%;
  content: '';
  position: absolute;
  border-bottom: 2px solid #000;
  top:50%;
  right: 240px;
}

/*---------- Feature in nome page -----------*/
section .conteiner{
  box-shadow: 0px 4px 2px rgba(0,0,0,0.1),
              0px -4px 2px rgba(0,0,0,0.1),
              2px 0px 2px rgba(0,0,0,0.1),
              -2px 0px 2px rgba(0,0,0,0.1);
  border-radius: 15px;
  padding: 0.5em 1em;
  margin-top: 3em;
  margin-bottom: 3em;
}

#features{
  text-align: center;
}
.card{
  border: none;
  margin: 1em, 0;
  text-align: center;
  font-size: 1.2rem;
  padding: 4%;
}

.card a{
  color: #000;
  text-decoration: none;
}

.card h3{
  font-family: 'Montserrat'
}

.icon{
  margin-bottom: 2rem;
  background: linear-gradient(74deg, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
  -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

/*---------- Block SHOW MORE --------------*/
.add_more p, .add_more img{
  position: relative;
  left: 48%;
  margin-top: 40px;
  width: 100px;
  font-size: 14pt;
  text-align: center;
}

.add_more{
  height: 3em;
}

.add_more p {
  padding-bottom: 1em;
}

.add_more:hover{
  color: #6d6d6d;
  background-image:#ffffff;background-image:
    radial-gradient(at 50% 99%, hsla(0,0%,26%,0.5) 0, transparent 50%),
    radial-gradient(at 77% 58%, hsla(0,0%,100%,0) 0, transparent 50%),
    radial-gradient(at 25% 56%, hsla(0,0%,100%,0) 0, transparent 50%);
}
/*-------Testimonials-------------*/
#testimonials{
  background: #F0F0F0;
  padding: 1em 0 3em 0;
  text-align: center;
}
#testimonials .conteiner{
  margin-bottom: 3em;
}
#testimonials .testimonials-img{
  width: 8%;
  border-radius: 100%;
  margin: 20px;
}
#testimonials .carousel-item{
  padding: 7% 15%;
  height: 400px;
}

/*------------ Footer ------------*/
footer{
  width:none;
  background: #E9E9E9;
  padding-top: 3em;
  padding-bottom: 2em;
  margin-top: 0;
}


.f_c_1 h1{
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #ffc107;
  font-size: 40px;
  margin-bottom: 0.5em;
}

.f_c_1 h3{
  color: #000;
  font-size: 20px;
  font-family: 'Montserrat'
}

.f_c_1 h4{
  font-size: 18px;
}

.footer_nav {
	width: 80%;
	display: block;
  padding: 0px;
  margin: 0px;
}

.footer_nav ul{
  margin: 0;
  padding: 0;
}

.footer_nav li {
  list-style-type: none;
}

.footer_nav ul li:hover, .footer_nav a:hover {
	color: #000;
}

.footer_nav li a {
	color: #6d6d6d;
  text-decoration: none;
}
